<app-nav></app-nav>
<div class="container mt-16 mb-16">
    <div class="row">
        <div class="col-md-3 mt-11 mb-16">
            <article>
                <h1 class="ml-9">
                    {{"SIGHTSEEING.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"SIGHTSEEING.PARAGRAPH.0" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16 mb-16">
            <article>
                <p class="mt-16"> 
                    {{"SIGHTSEEING.PARAGRAPH.1" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16 mb-16">
            <article>
                <p class="mt-16"> 
                    {{"SIGHTSEEING.PARAGRAPH.2" | translate}}
                </p>   
            </article>
        </div>
        <div class="col-md-3 mt-11 mb-16">
            <article>
                <img src="../../../assets/img/turismovirt.svg" class="img1 pequeño" alt="Turismo Virtual">    
            </article>
        </div>   
    </div>
</div>    
<app-footer></app-footer>














<!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="figura">
                    <p class="pt-6 ml-1">{{"SIGHTSEEING.TITLE" | translate}}</p>
                </div>
                
            </div>
        <div class="col col-md-3 ml-2 servicios-box">
            
            <p class=" pb-6 pt-6">{{"SIGHTSEEING.PARAGRAPH" | translate}}</p>
        </div>
    </div> -->