@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.img-1 {
    position: absolute;
    width: 350px;
    top: 27%;
    left: 65%;
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;
    border: 1px solid #004483ff;       

    
    
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;

    
    
}
.text-1 {
    color: white;
    position: absolute;
    top: 44%;
    left: 68%;
    z-index: 2;
   
}

.text-1-2 {
    color: white;
    position: absolute;
    top: 43%;
    left: 82%;
    background-color: #001e36;
    padding: 70px 10px 25px 10px;
    border: #002443ff 10px double;
    outline-width: 1px;
}

.text-1-3 {
    color: white;
    position: absolute;
    text-align: center;
    top: 18%;
    left: 80.5%;
    background-color: #001e36;
    padding: 20px 30px 70px 30px;
    border: #002443ff 10px double;
    outline-width: 1px;
    
}

.text-1-4 {
    color: white;
    position: absolute;
    text-align: center;
    top: 24%;
    left: 60%;
    background-color: #001e36;
    padding: 35px 30px 50px 30px;
    border: #002443ff 10px double;
    outline-width: 1px;
}



.img-2 {
    position: absolute;
    width: 375px;
    top: 45%;
    left: 44%;
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;
    border: 1px solid #004483ff;       
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
    
}

.text-2 {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 2;
}

.text-2-1 {
    color: white;
    position: absolute;
    top: 68%;
    left: 39%;
    background-color: #001e36;
    padding: 70px 20px 10px 20px;
    border: #002443ff 10px double;
    outline-width: 1px;
}

.text-2-2 {
    color: white;
    position: absolute;
    text-align: center;
    top: 68%;
    left: 59%;
    background-color: #001e36;
    padding: 60px 30px 15px 30px;
    border: #002443ff 10px double;
    outline-width: 1px;
}

.text-2-3 {
    color: white;
    position: absolute;
    text-align: center;
    top: 34%;
    left: 39%;
    background-color: #001e36;
    padding: 10px 30px 77px 30px;
    border: #002443ff 10px double;
    outline-width: 1px;
}

.img-3 {
    position: absolute;
    width: 350px;
    top: 33%;
    left: 10%;
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;

    border: 1px solid #004483ff;       

    
    
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
}

.text-3{
    color: white;
    position: absolute;
    top: 43%;
    left: 12%;
    font-size: 0.9rem;
    z-index: 2;
    
}

.text-3-1 {
    color: white;
    position: absolute;
    text-align: center;
    top: 24%;
    left: 22%;
    background-color: #001e36;
    padding: 20px 25px 50px 25px;
    border: #002443ff 10px double;
    outline-width: 1px;
    
    
}

.text-3-2 {
    color: white;
    position: absolute;
    text-align: center;
    top: 53%;
    left: 8.5%;
    background-color: #001e36;
    padding: 20px 25px 50px 25px;
    border: #002443ff 10px double;
    outline-width: 1px;
}

.img-4 {
    position: absolute;
    width: 350px;
    top: 75%;
    left: 20%;
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;

    border: 1px solid #004483ff;       

    
    
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
    
}


.text-4 {
    color: white;
    position: absolute;
    top: 90%;
    left: 24%;
    z-index: 2;
}

.text-4-2 {
    color: white;
    position: absolute;
    top: 70%;
    left: 15%;
    background-color: #001e36;
    padding: 30px 30px 50px 30px;
    border: #002443ff 10px double;
    outline-width: 1px;
    
}

.text-4-1{
    color: white;
    position: absolute;
    top: 108%;
    left: 25%;
    text-align: center;
}

.img-5 {
    position: absolute;
    width: 300px;
    top: 78%;
    left:70%;
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;

    border: 1px solid #004483ff;       

    
    
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
}



.text-5-1 {
    color: white;
    position: absolute;
    top: 80%;
    left: 74%;
    text-align: center;
    font-size: 0.77rem;
    z-index: 2;
}

.fuente {
font-family: alibaba-sans, sans-serif;
font-weight: 400;
font-style: italic;
}




