<app-home></app-home>

<app-nav></app-nav>

<div id="inicio" class="container-inicio">
    <div class="container">
      <div class="container-presentacion">

        <div class="row justify-content-center">
          <div class="col-md-7">
              <div class="texto-presentacion text-center">
                  <h2>{{"inicio.presentation"|translate}}</h2>
                </div>
          </div>
        </div>
      </div>

        <div id="servicios" class="text-center">
            <h2>Nuestros servicios</h2>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card card-servicios">
                    <div class="img-container-mundo">
                        <img class="box-mundo" src="../../assets/img/principal/3.png" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{"beginning.title-7" | translate}}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                          <li>
                            <a href="/marketing"class="">{{"beginning.title-9" | translate}}</a>
                          </li>
                          <li>
                            <a href="/coaching"class="">{{"beginning.coaching-2" | translate}}</a>
                          </li>
                          <li>
                            <a href="/developers" class="">{{"beginning.title-3" | translate}}</a>                  
                          </li>
                      </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-md-4">
                <div class="card card-servicios">
                    <div class="img-container-mundo">
                        <img class="box-mundo" src="../../assets/img/principal/4.png" alt="">
                    </div>                
                    <div class="card-body">
                        <h5 class="card-title">{{"beginning.title-10" | translate}}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                          <li>
                            <a class="" href="/dapps">{{"beginning.title-11" | translate}}</a>
                          </li>
                          <li>
                            <a class="" href="/blockchain">{{"beginning.title-14" | translate}}</a>  
                          </li>
                      </ul>
                      
                      
                    </div>
                  </div>
            </div>
        
            <div class="col-md-4">
                <div class="card card-servicios">
                    <div class="img-container-mundo">
                        <img class="box-mundo" src="../../assets/img/principal/2.png" alt="">
                    </div>                
                    <div class="card-body">
                        <h5 class="card-title">{{"beginning.title-1" | translate}}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                          <li>
                            <a href="/services" class="">{{"beginning.title-13" | translate}}</a>              
                          </li>
                          <li>
                            <a href="/apps"class="">{{"beginning.title-4" | translate}}</a>
                          </li>
                          <li>
                            <a href="/commerce" class="">{{"beginning.title-2" | translate}}</a>
                          </li>
                      </ul>
                                      
                    </div>
                  </div>
            </div>
            
            <div class="col-md-4">
                <div class="card card-servicios">
                    <div class="img-container-mundo">
                        <img class="box-mundo" src="../../assets/img/principal/1.png" alt="">
                    </div>                
                    <div class="card-body">
                        <h5 class="card-title">{{"beginning.title-5" | translate}}</h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                      <ul>
                          <li>
                            <a class="" href="/turismo">{{"beginning.coaching-1" | translate}}</a>
                          </li>
                          <li>
                            <a class="" href="/arte">{{"beginning.title-6" | translate}}</a>                
                          </li>
                      </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
