.inicio-container {
    height: 80vh;
}

.fila-1, .fila-2{
    height: 50%;
}

.div-estrategia {
    position: relative;
    left: 200px;
    top: 80px;
}

    .estrategia-block-1 {
        position: relative;
        bottom: 250px;
        left: 280px;
    }

.div-blockchain {
    position: relative;
    left: 250px;
    top: 50px;
}

.div-digitales {
    position: relative;
    left: 170px;
    top: 50px;
}

.div-metaverso {
    position: relative;
    left: 450px;
    top: 100px;
}

.div-hunting {
    position: relative;
    left: 150px;
    top: 150px;
    width: 360px;
}

@media (max-width: 500px){
    .div-estrategia {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .div-blockchain {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .div-digitales {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .div-metaverso {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .div-hunting {
        position: relative;
        left: 0px;
        top: 0px;
        width: 100%;
    }

    .fila-1, .fila-2{
        height: 100%;
    }
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    width: 350px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.servicios-box {
    z-index: 2;
    text-align: center;
    background-color: #001e36;
    padding: 1rem 2rem;
    border: #002443ff 10px double;
    outline-width: 1px;
    position: relative;
    max-width: 150px;
    display: block;
    font-size: 15px;
}

.img-inicio {
    box-shadow: 13px 13px 13px 1px rgba(0, 0, 0);
    z-index: 1;
    border: 1px solid #004483ff;
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
}


.fuente {
font-family: alibaba-sans, sans-serif;
font-weight: 400;
font-style: italic;
}

