<app-nav></app-nav>
<div class="container-fluid inicio-container">
    
    <div class="row fila-1">
        <div class="col-md-4 bg-success p-5">
            <div class="div-estrategia">
                <div class="img-container">
                    <img class="img-inicio" src="../../assets/img/principal/3.png" alt="">
                    <a class="centered">{{"BEGINNING.TITLE-7" | translate}}</a>
                </div>
                <div class="estrategia-block-1"><a href="/produccion"class="servicios-box">{{"BEGINNING.TITLE-8" | translate}}</a></div>
                <a href="/marketing"class="servicios-box">{{"BEGINNING.TITLE-9" | translate}}</a>
            </div>
        </div>

        <div class="col-md-4 bg-warning p-5">
            <div class="div-blockchain">
                <div class="img-container">
                    <img class="img-inicio" src="../../assets/img/principal/4.png" alt="">
                    <span class="centered">{{"BEGINNING.TITLE-10" | translate}}</span>
                </div>
                <a class="servicios-box" href="/dapps">{{"BEGINNING.TITLE-11" | translate}}</a>
            </div>
        </div>

        <div class="col-md-4 bg-primary p-5">
            <div class="div-digitales">
                <div class="img-container">
                    <img class="img-inicio" src="../../assets/img/principal/2.png" alt="">
                    <span class="centered">{{"BEGINNING.TITLE-1" | translate}}</span>
                </div>
                <a href="/commerce" class="servicios-box">{{"BEGINNING.TITLE-2" | translate}}</a>
                <a href="/apps"class="servicios-box">{{"BEGINNING.TITLE-4" | translate}}</a>
            </div>
        </div>

    </div>

    <div class="row fila-2">

        <div class="col-md-6 bg-secondary">
            <div class="div-metaverso">
                <div class="img-container">
                    <img class="img-inicio" src="../../assets/img/principal/1.png" alt="">
                    <span class="centered">{{"BEGINNING.TITLE-5" | translate}}</span>
                </div>
                
                <a class="servicios-box" href="/arte">{{"BEGINNING.TITLE-6" | translate}}</a>
                <a class="servicios-box" href="/turismo">{{"BEGINNING.COACHING-1" | translate}}</a>
                <a href="/coaching"class="servicios-box">{{"BEGINNING.COACHING-2" | translate}}</a>
            </div>
        </div>


        <div class="col-md-6 bg-info">
            <div class="div-hunting">
                <div class="img-container">
                    <img class="img-inicio" src="../../assets/img/principal/5.png" alt="">
                    <span class="centered">{{"BEGINNING.TITLE-12" | translate}}</span>
                </div>
                
                <a href="/services" class="servicios-box">{{"BEGINNING.TITLE-3" | translate}}</a>
            </div>
        </div>
    </div>
</div>