<!-- Footer -->
<footer class="container-footer">
  <!-- Section: Links  -->
  <section>
    <div class="container text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" id="margen">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 ml-5">Ketanolab</h6>
          <p><a href="https://www.facebook.com/ketanoLabsrl/" target="_blank"><i class="img-rrss fa fa-facebook fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/76603728" target="_blank"><i class="img-rrss fa fa-linkedin fa-2x"></i></a>
            <a href="https://twitter.com/KetanoLab" target="_blank"><i class="img-rrss fa fa-twitter fa-2x"></i></a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">{{"nav.servicios" | translate}}</h6>
          <p><a href="/marketing">{{ "marketing.title" | translate }}</a></p>
          <p><a href="/coaching">{{ "digital-projects.title" | translate }}</a></p>
          <p><a href="/developers">Head Hunting Developers</a></p>
          <p><a href="/dapps">{{ "dapps.title" | translate }}</a></p>
          <p><a href="/blockchain">{{ "blockchain.title" | translate}}</a></p>
          <p><a href="/services">{{ "webservices.title" | translate }}</a></p>
          <p><a href="/apps">{{ "apps.title" | translate }}</a></p>
          <p><a href="/commerce">{{ "commerce.title" | translate }}</a></p>
          <p><a href="/turismo">{{ "sightseeing.title" | translate }}</a></p>
          <p><a href="/arte">{{ "digital-art.title" | translate }}</a></p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">{{ "footer.links" | translate }}</h6>
          <p>
            <a href="/nosotros">{{ "nav.nosotros" | translate }}</a>
          </p>
          <p>
            <a href="/experiencia" >{{ "nav.experiencia" | translate }}</a>
          </p>
          <p>
            <a href="https://app.gather.town/app/zmougmiMJ2HHVYbZ/ketanolab" target="_blank">{{ "nav.oficina" | translate }}</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">{{ "footer.contact" | translate }}</h6>
          <p><i class="fa fa-home"></i> Rambla Republica Peru 757, Montevideo, Uruguay</p>
          <p>
            <i class="fa fa-envelope"></i>
            <a href="mailto:contacto@hanansoft.com"> contacto@hanansoft.com</a>
          </p>
          <p><i class="fa fa-phone"></i> +598 92922752</p>
          <p>© 2022 Copyright <br>Hanansoft</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->