footer {
    background-color: #00172a;
    font-size: 14px;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
}

h6 {
    color: #00AEC6;
}

p {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

.estilo {
    margin-top: -5rem;
}