.container-experiencia {
  background-image: url("../../../assets/img/background-3883181_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding-bottom: 1rem;
}

.container-experiencia::before {
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #00000020;
}

.bannerStyle h1 {
    min-height: 218px;
    line-height: 218px;
    text-align: center;

  }

.img1{
  width: 325px;
}

.card{
    margin-left: 5px;
    width: 23rem;
    background: none;
    overflow: hidden;
    height: 13.8rem;
}

.text1{
  margin-top: -60px;
  padding: 0px 20px 0px 30px;
}

.marco-int {
  /*box-shadow: 15px 18px 5px rgba(0, 0, 0, 0.623);*/
  /*border: 1px solid #1A99B3;*/
  background-image: linear-gradient(#1A99B3, #1A99B3),
  linear-gradient(#1A99B3, #1A99B3),
  linear-gradient(#1A99B3, #1A99B3),
  linear-gradient(#1A99B3, #1A99B3);
  background-repeat: no-repeat;
  background-size: 2px 37%, 15% 2px, 2px 38%, 15% 2px, calc(100% - 1px) calc(100% - 1px);
  background-position: left bottom, left bottom, right top, right top, 1px 1px;
  padding: 2rem;
  /*outline: 2px solid ;
  outline-offset: -5px;*/
  transition: all .5s;
}

.marco-ext {
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff);
  background-size: 2px 37%, 15% 2px, 2px 38%, 15% 2px, calc(100% - 1px) calc(100% - 1px);
  background-position: top left, left top, right bottom, right bottom, 1px 1px;
  padding: 6px;
  margin: 2rem 1rem;
  width: 300px;
}

/* Este es el espacio entre los logos de aliados*/

.logo2{
  margin-left: 3rem;
}

.marco-ext2 {
  background-repeat: no-repeat;
  background-image: linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff),
  linear-gradient(#fff, #fff);
  background-size: 2px 37%, 15% 2px, 2px 38%, 15% 2px, calc(100% - 1px) calc(100% - 1px);
  background-position: top left, left top, right bottom, right bottom, 1px 9px;
}

/* Comienza efecto en imágenes al pasar el mouse encima*/
.efecto {
  transition: all 500ms
}

.efecto:hover {
  transform: translate(-15px, -15px);
}

/* Termina efecto */

/* Configuración de las imágenes de los logos de clientes */
#imagen1 {
  width: 175px;
  margin-right: 1rem;
}

#imagen2 {
  margin-top: 1rem;
  width: 175px;
  margin-right: 1rem;
}

#imagen3 {
  width: 175px;
}

#imagen4 {
  width: 80px;
  margin-left: 1rem;
}

#imagen5 {
  margin-top: 1rem;
  width: 200px;
  margin-left: 2rem;
}

#imagenesaliados1 {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: -0.5rem;
  width: 250px;
}

#imagenesaliados2 {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 125px;
}

#imagenesaliados3 {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 175px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#imagenesaliados4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 175px;
}

.clientes {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.aliados {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Carousel Bootstrap */

.tamaño {
  width: 400px;
  height: 400px;
  position: relative;
  top: 2rem;
  left: 2.7rem;
}

.pc {
  position: relative;
  top: 1.3rem;
  left: -0.6rem;
  width: 24.7rem;
  height: 2.5rem;
  z-index: 1;
}

#pcposicion {
  margin-top: 1rem;
}

.h3centrar {
  position: relative;
  top: 16rem;
  left: 1rem;
}

.h3bolivianacentrar {
  position: relative;
  top: 14rem;
  left: 1rem;     
}
/* Configuración del título h3 que acompaña a la imagen de Certix.*/
.h3certix {
  position: relative;
  top: 13.5rem;
  left: 1rem;
}

/* Configuración del título h3 que acompaña a la imagen de Ecotambo.*/
.h3ecotambo {
  position: relative;
  top: 15.8rem;
  left: 1rem;
}

/* Configuración del título h3 que acompaña a la imagen de Tupac.*/
.h3tupac {
  position: relative;
  top: 15rem;
  left: 1rem;
}
/* Configuración del título h3 que acompaña a la imagen de Nusimi.*/
.h3nusimi {
  position: relative;
  top: 14rem;
  left: 1rem;
}

/* Configuración del título h3 que acompaña a la imagen de San Francisco.*/
.h3francisco {
  position: relative;
  top: 14rem;
  left: 1rem;
}

.lugar {
  position: relative;
  top: -1rem;
}

.posicion0 {
  margin-top: -17.5rem;
  margin-left: -3.2rem;
}

.posicion1 {
  margin-top: -15.4rem;
  margin-left: -3.2rem;
}

.posicion2 {
  margin-top: -17.5rem;
  margin-left: -3.2rem;
}

/* Posición y tamaño de la imagen de Certix en el carrusel */
.posicion3 {
  width: 23.7rem;
  margin-top: -13.3rem;
  margin-left: 0.2rem;
}

/* Posición y tamaño de la imagen de Ecotambo en el carrusel */
.posicion4 {
  width: 24.8rem;
  margin-top: -15.6rem;
  margin-left: -0.4rem;
}

/* Posición y tamaño de la imagen de Tupac Katari en el carrusel */
.posicion5 {
  width: 24.8rem;
  margin-top: -15rem;
  margin-left: 0.2rem;
}

/* Posición y tamaño de la imagen de Nusimi en el carrusel */
.posicion6 {
  width: 28rem;
  margin-top: -13.6rem;
  margin-left: -0.2rem;
}

/* Posición y tamaño de la imagen de San Francisco en el carrusel */
.posicion7 {
  width: 24.8rem;
  margin-top: -13.6rem;
  margin-left: -0.3rem;
}