<!-- Inicio container general-->
<div class="container-fluid container-experiencia">
<!-- nav bar metido dentro del container -->
  <app-nav></app-nav>
  <!-- Container carrusel -->
    <div class="container mt-16">
      <!-- Fila 1 del container carrusel -->
      <div class="row">
        <!-- Columa 1 de fila 1 -->
        <div class="col-md-4">
          <!-- Carousel -->
          <div id="ketanolab" class="carousel slide" data-bs-ride="carousel">
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <!-- Capa Pc -->
              <img class="carouselpc" src="assets/img/pc.png">
              <div class="carousel-item active tamaño posicion0">
                <h3 class="h3centrar">Banco Bisa</h3>
                <a href="https://www.bisa.com/" target="_blank"><img src="assets/img/carouselbancobisa.png" alt="Banco Bisa" class="d-block carouselbancobisa"></a>
              </div>
              <div class="carousel-item tamaño posicion1">
                <h3 class="h3bolivianacentrar">Boliviana Ciacruz</h3>
                <a href="https://www.lbc.bo/" target="_blank"><img src="assets/img/carouselboliviana.png" alt="Boliviana Ciacruz" class="d-block"></a>
              </div>
              <div class="carousel-item tamaño posicion2">
                <h3 class="h3centrar">Cacho de Cacho</h3>
                <a href="https://play.google.com/store/apps/details?id=viny.soltux" target="_blank"><img src="assets/img/cacho.png" alt="Cacho de Cacho" class="d-block"></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Inicio columna 2 de fila 1 carrusel -->
        <div class="col-md-4">
          <!-- Carousel -->
          <div id="ketano" class="carousel slide" data-bs-ride="carousel">
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
              <!-- Capa Pc -->
              <img src="assets/img/pc.png">
              <div class="carousel-item active posicion3">
                <h3 class="h3certix">Certix</h3>
                <a href="https://certix.me" target="_blank"><img src="assets/img/certix.png" alt="Certix" class="d-block"></a>
              </div>
              <div class="carousel-item posicion4">
                <h3 class="h3ecotambo">Ecotambo</h3>
                <img src="assets/img/ecotambo.png" alt="Ecotambo" class="d-block">
              </div>
              <div class="carousel-item posicion5">
                <h3 class="h3tupac">Tupac Katari</h3>
                <img src="assets/img/tupac.png" alt="Tupac Katari" class="d-block">
              </div>
            </div>
          </div>
        </div>
        <!-- Inicio de columna 3 de fila 1 de carousel -->
        <div class="col-md-4">
          <!-- Carousel -->
          <div id="keta" class="carousel slide" data-bs-ride="carousel">
            <!-- The slideshow/carousel -->
            <div class="carousel-inner lugar">
              <!-- Capa Pc -->
              <img src="assets/img/pc.png">
              <div class="carousel-item active posicion6">
                <a href="https://play.google.com/store/apps/details?id=com.ketanolab.nusimi" target="_blank"><img src="assets/img/nusimi.png" alt="Nusimi" class="d-block"></a>
                <h3 class="h3nusimi">NuSimi</h3>
              </div>
              <div class="carousel-item posicion7">
                <a href="https://play.google.com/store/apps/details?id=com.ketanolab.nusimi" target="_blank"><img src="assets/img/francisco.png" alt="San Francisco." class="d-block"></a>
                <h3 class="h3francisco">San Francisco</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inicio container clientes -->
  <div class="container clientes">
    <!-- h1 Nuestros Clientes -->
    <h2 class="text-center mb-10">Confian en Nosotros</h2>
    <!-- Inicio section div flex -->
    <section class="d-flex justify-content-center" >
      <!-- Inicio 1 logo de flexbox -->
      <div>
        <a href="https://www.derechosdigitales.org/" target="_blank">
          <img src="../../../assets/img/Logo-Derechos-Digitales-01.png" class="efecto"  alt="Derechos Digitales" id="imagen1">
        </a>
      </div>
      <!-- Inicio de 2 logo de flexbox -->
      <div>
        <a href="https://www.bisa.com/" target="_blank">
          <img src="../../../assets/img/bancobisa.png" class="efecto"  alt="Banco Bisa" id="imagen2">
        </a>
      </div>
     <!-- Inicio de 3 logo de flexbox -->
      <div>
        <a href="https://www.lbc.bo/" target="_blank">
          <img src="../../../assets/img/lbc-blanco.png" class="efecto"  alt="La Boliviana Ciacruz" id="imagen3">
        </a>
      </div>
     <!-- Inicio de 4 logo de flexbox -->
      <div>
        <div class="align-self-center">
          <a href="https://www.facebook.com/CCMSFLP/" target="_blank">
            <img src="../../../assets/img/sanfrancisco.jpg" class="efecto"  alt="San Francisco" id="imagen4">
          </a>
        </div>
      </div>
      <!-- Inicio de 5 logo de flexbox -->
      <div>
        <div class="align-self-center">
          <a href="https://www.comunicacion.gob.bo/" target="_blank">
            <img src="../../../assets/img/mincom_blanco.png" class="efecto"  alt="Ministerio Comunicación Bolivia" id="imagen5">
          </a>
        </div>
      </div>
    </section>
  </div>

<!-- ========== Start Container Logos aliados ========== -->
  <div class="container aliados">
    <!-- h1 organizaciones amigas -->
    <h2 class="text-center mb-10">Aliados </h2>
    <!-- Inicio de div flex de aliados -->
      <section class="d-flex justify-content-center">
        <!-- Inicio de logo 1 de aliados-->
        <div class="marco-ext2 logo2 d-flex">
          <div class="align-self-center">
            <a href="https://martadero.org/quienes-somos/" target="_blank">
              <img src="../../../assets/img/marca-mARTadero-escala-grises-para-fondo-oscuro.png" class="efecto"  alt="Martadero" id="imagenesaliados1">
            </a>
          </div>
        </div>
        <!-- Inicio de logo 2 de aliados -->
        <div class="marco-ext2 logo2 d-flex">
          <div class="align-self-center">
          <a href="https://openlab.ec/presentacion" target="_blank">
            <img src="../../../assets/img/Logo_Openlab3n.svg" class="efecto" alt="Openlab Ec" id="imagenesaliados2">
          </a>
          </div>
        </div>
        <!-- Inicio de logo 3 de aliados-->
        <div class="marco-ext2 logo2 d-flex">
          <div class="align-self-center">
            <img src="../../../assets/img/lapazsw.svg" class="efecto"  alt="La Paz Weekend" id="imagenesaliados3">
          </div>
        </div>
        <!-- Inicio de columna 4 de fila 1 -->
        <div class="marco-ext2 logo2 d-flex">
          <div class="align-self-center">
            <img src="../../../assets/img/asoc4.jpg" class="efecto" alt="Illa" id="imagenesaliados4">
          </div>
        </div>
      </section>
    </div>
  </div>
<!-- ========== End Logos aliados ========== -->

<app-footer></app-footer>
