<nav class="nav">
    <section>
        <picture>
            <img class="nav__logo" src="../../assets/img/img/circulo-01.svg">
            <img class="nav__barra" src="../../assets/img/Inicio/bara.svg" alt="">
            <a class="nav__home" routerLink="/home">HOME</a>
        </picture>

        <picture class="nav__item">
            <img class="nav__item-1" src="../../assets/img/img/nosotros.png" alt="" srcset="">
            <p><a class="nav__nosotros text">NOSOTROS</a></p>
            <img class="nav__item-2" src="../../assets/img/img/nuestra-experiencia.png" alt="" srcset="">
            <p><a class="nav__experiencia text">NUESTRA EXPERIENCIA</a></p>
            <img class="nav__item-3" src="../../assets/img/img/aliados.png"  alt="" srcset="">
            <p><a class="nav__aliados text">ALIADOS</a></p>
            <img class="nav__item-4" src="../../assets/img/img/oficina-virtual.png" alt="" srcset="">
            <p><a class="nav__virtual text">OFICINA VIRTUAL</a></p>
        </picture>
    </section>
</nav>