<!-- <div id="sect1"class="container">       
    <h2>Now Load image on the displa\</h2>     -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row hola " >
            <div class="card1">
              <div class="card-body">
                <img src="../../../assets/img/marco.svg" class="cuadro1"  alt="">
                <img src="../../../assets/img/asoc1.svg" class="img1"  alt="">
                  
                </div>
              </div>
              <div class="card1">
                <div class="card-body">
                    <img src="../../../assets/img/open.svg" class="cuadro2"  alt="">
                    <img src="../../../assets/img/asoc2.svg" class="img2" alt="">                   
                </div>
              </div>
              <div  class="card1" >
                <div class="card-body">
                    <img src="../../../assets/img/marco.svg" class="cuadro3"  alt="">
                    <img src="../../../assets/img/asoc3.svg" class="img1" alt="">
                    
                </div>
              </div>
            </div>
          
    </div>
</body>
</html>
  
<!-- </div> -->