<app-nav></app-nav>
<div class="container-fluid fondo">
<!-- h1 -->
<h1 class="text-center"> ALIADOS </h1>
<!-- Inicio Container Flex -->
<div class="container d-flex">
  <!-- Inicio fila 1. -->
  <div class="row justify-content-center">
    <!-- Inicio columna 1 de fila 1. -->
    <div class="col-md-3">        
      <div class="card">
        <div class="card-img">
          <a href="https://martadero.org/quienes-somos/"><img src="../../../assets/img/asoc1.png" class="img1"  alt=""></a>        
        </div>
      </div>
    </div>
    <!-- Inicio columna 2 de fila 1. -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-img">
          <a href="https://openlab.ec/presentacion"><img src="../../../assets/img/asoc2.png" class="img2" alt=""></a>                   
        </div>
      </div>
    </div>
    <!-- Inicio columna 3 de fila 1. -->
    <div class="col-md-3">
      <div  class="card" >
        <div class="card-img ">
          <img src="../../../assets/img/asoc3.svg" class="img1" alt="">        
        </div>
      </div>
    </div>   
    <!-- Inicio columna 4 de fila 1. -->
    <div class="col-md-3">        
      <div class="card">
        <div class="card-img">
          <img src="../../../assets/img/asoc4.jpg" class="img1"  alt="">        
        </div>
      </div>
    </div>
  </div>
</div>
</div>