<app-nav></app-nav>
<div class="container">
    <div class="row justify-content-md-center" >
        
      <div class="card1">
          <div class="card-body">
            <img src="../../../assets/img/marco.svg" class="cuadro1"  alt="">
            <img src="../../../assets/img/asoc1.svg" class="img1"  alt="">        
          </div>
        </div>
        
        <div class="card1">
          <div class="card-body">
              <img src="../../../assets/img/open.svg" class="cuadro2"  alt="">
              <img src="../../../assets/img/asoc2.svg" class="img2" alt="">                   
          </div>
        </div>
        
        <div  class="card1 " >
          <div class="card-body ">
              <img src="../../../assets/img/marco.svg" class="cuadro3"  alt="">
              <img src="../../../assets/img/asoc3.svg" class="img1" alt="">        
          </div>
        </div>

    </div> 
</div>
