.home-container {
    background-image: url("../../../assets/img/Home/home.png");
    background-size: 100rem 52rem;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 52rem; 
}

/* Todo el logo*/
.logo{
    width: 50rem;
    height: 70rem;
    position: relative;
    top: 0rem;
    left: 24%;
}

/* Sombra de la palabra Ketanolab */
.home-sombra {
    position: absolute;
    width: auto;
    height: 43rem;
    z-index: 1;
    filter: brightness(50%);
   
}

/* Palabra ketanolab */
.home-logo {
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 12rem;
    max-height: 60rem;
    z-index: 1;
    
}

/* Animación de sombra */
@keyframes fadeIn {
  0% {
      opacity: .5;
  }

  50% {
      opacity: .25;
  }

  75% {
      opacity: .75;
  }

  100% {
      opacity: .5;
  }
}

.home-sombra{
animation: fadeIn 4s infinite linear;
}

/* Candado. */

.p-2 {
    position: relative;
    left: 24%;
}

.home-candado {
    position: relative;
    top:-38rem;
    width: 50rem;
    height: 10rem;
}

/* Texto. */
.text {
    position: relative;
    top: -36rem;
    text-align: center;
}

/* Íconos Redes Sociales */

.home-twiter {
    position: relative;
    top: -40rem;
    width: 5rem;
}

.home-in {
    position: relative;
    top: -40rem;
    width: 5rem;
}

.home-facebook{
    position: relative;
    top: -40rem;
    width: 5rem;
}