a {
    font-family: 'Orbitron';
    color: #fff;
}

.fondo {
    background-image: url("../../../assets/img/Home/home.png");
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
}

/* Todo el logo*/
.logo{
    position: relative;
    max-width: 600px;
}

/* Sombra de la palabra Ketanolab */
.home-sombra {
    z-index: 1;
    filter: brightness(50%);
}

/* Palabra ketanolab */
.home-logo {
    z-index: 1;
    max-width: 800px;
}
    
/* Animación de sombra */
@keyframes fadeIn {
  0% {
      opacity: .5;
  }

  50% {
      opacity: .25;
  }

  75% {
      opacity: .75;
  }

  100% {
      opacity: .5;
  }
}

.home-sombra{
animation: fadeIn 4s infinite linear;
}


/* Íconos Redes Sociales */

.home-twiter {
    position: relative;
    top: -40rem;
    width: 5rem;
}

.home-in {
    position: relative;
    top: -40rem;
    width: 5rem;
}

.home-facebook{
    position: relative;
    top: -40rem;
    width: 5rem;
}

.nav-link-1, .nav-link-1::before {
    background-image: url("../../../assets/img/img/nosotros.png"); 
    background-repeat: no-repeat;
}

.nav-link-1 {
    padding-top: 12px;
    padding-left: 65px;
    padding-right: 25px;
}