<div class="fondo">
  <div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto text-center">
      <img class="home-logo img-fluid" src="../../../assets/img/Home/keta1.svg"/>
<a routerLink="/inicio" class="button-64">
    <span class="text">
      Ingresa
    </span>
</a>
  <span id="siguenos"> 
    Síguenos en: 
    <a href="https://twitter.com/KetanoLab" target="_blank" class="azul"> 
      Twitter 
    </a> | 
    <a href="https://www.facebook.com/ketanolabsrl" target="_blank" class="azul"> 
      Facebook 
    </a>| 
    <a href="https://www.linkedin.com/company/76603728" target="_blank" class="azul"> 
      LinkedIn 
    </a>
  </span> 
  </div>
</div>
</div>