<app-nav></app-nav>
<div class="container, align-top">
    <div class="row justify-content-center">
        <div class="col-auto posicion">
            <div class="figura">
                <p class="pt-6 ml-6 fuente">{{"DAPPS.TITLE" | translate}}</p>
            </div>
            <img src="../../../assets/img/dapps.svg" class="img1" alt="">
        </div>
        <div class="col col-md-3 ml-2 color">
            <img src="../../../assets/img/marcoInter.png" class="img2" alt="">
            <p class=" pb-6 pt-6 h6">{{"DAPPS.PARAGRAPH" | translate}}</p>
        </div>
        </div>
</div>

