<div class="container-fluid mt-16 mb-16 fondo">
    <app-nav></app-nav>
    <h1 class="ml-9 mt-16">
        {{"DAPPS.TITLE" | translate}}    
    </h1>
    <div class="row">
        <div class="col-md-4 mt-16">
            <article>
                <p class="align"> 
                    {{"DAPPS.PARAGRAPH.0" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-16 mb-16">
            <article>
                <p> 
                    {{"DAPPS.PARAGRAPH.1" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-16 mb-16">
            <article>
                <img src="../../../assets/img/dapps.svg" class="img1 pequeño" alt="DAPPS">    
            </article>
        </div>   
    </div>
</div>
<app-footer></app-footer>