<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DAPPS.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"DAPPS.PARAGRAPH" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DAPPS.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"DAPPS.PARAGRAPH" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DAPPS.TITLE" | translate}}    
                </h1>
                <hr>
                <p>
                    {{"DAPPS.PARAGRAPH" | translate}}
                </p>
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DAPPS.TITLE" | translate}}    
                </h1>
                <hr>
                <img src="../../../assets/img/dapps.svg" class="img1 pequeño" alt="DAPPS">    
            </article>
        </div>   
    </div>
</div>
<app-footer></app-footer>