.img1{
    box-shadow: 15px 18px 5px rgba(0, 0, 0, 0.623);  
    border: 1px solid #004483ff;       
    background-image: linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff),
                    linear-gradient(#007df1ff, #007df1ff);    
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
    outline: 2px solid #004483ff;
    outline-offset: -5px;
}
    
  .img2{
      position:absolute;
      width: 510px;
      height: 259px;
      margin-top: 4px;
      margin-left: -5px;
          }
          @media only screen and (max-width: 700px) {
              .img2 {
                  width: 545px;
                  height: 250px;
              }
            }
          
            body{
              cursor:url(/assets/img/cursor.png), auto;
            }