<div class="container-fluid mt-16 mb-16 fondo">
    <app-nav></app-nav>
    <h1 class="ml-9 mt-16">
        {{"digital-art.title" | translate}}    
    </h1>
    <div class="row">
        <div class="col-md-4 mt-16">
            <article>
                <p class="align"> 
                    {{"digital-art.paragraph.0" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-16">
            <article>
                <p> 
                    {{"digital-art.paragraph.1" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-12">
            <article>
                <img src="../../../assets/img/Recurso 11.png" class="img1 pequeño" alt="Arte Digital">   
            </article>
        </div>   
    </div>
</div>
<app-footer></app-footer>

<!-- 
                <img src="../../../assets/img/marcoInter.png" class="img2" alt="">
                <p class=" pb-6 pt-10"> ¿Qué es el Arte Digital? </p>
                <p class=" pb-6 pt-10">Los NFTs son una forma de darle valor agregado al arte en forma digital, funciona agregando una firma única e indeleble al archivo digital donde se encuentra la obra dentro de una red de blockchain, este proceso genera un token que tiene un carácter no fungible (el NFT).</p>
                <p class=" pb-6 pt-10">Si bien las obras de arte digital con NFT se comercializan a partir de criptomonedas, pueden ser convertidas a una moneda como FIAT, como dólares, euros, etc.</p>
                <p class=" pb-6 pt-10">Coaching NFT</p>
                <p class=" pb-6 pt-10">La variedad de arte que se puede producir en ambientes digitales es fascinante, desde arte generativo, ilustración digital, arte glitch / gif, collage de video, arte con IA, obras de arte realizadas en realidad virtual, etc. Nosotros  te ofrecemos un espacio para potenciar tus habilidades, apoyándote en la experimentación. </p>
                <p class=" pb-6 pt-10">Ofrecemos asesoría personalizada en los siguientes temas: </p>
                <p class=" pb-6 pt-10">El mercado del coleccionismo y en qué se diferencia del mercado     de obras en masa. </p>
                <p class=" pb-6 pt-10">Por qué le debe interesar a un artista la blockchain. </p>
                <p class=" pb-6 pt-10">Qué puede ser y qué NO puede ser un NFT </p>
                <p class=" pb-6 pt-10">Derechos de autor ¿Qué pasa con los derechos de mi obra con los NFT? </p>
                <p class=" pb-6 pt-10">¿Qué pasa si piratean mi obra? </p>
                <p class=" pb-6 pt-10">Creación de perfil en una plataforma de NFT </p>
                <p class=" pb-6 pt-10">Creación de billeteras digitales </p>
                <p class=" pb-6 pt-10">Producción de NFTs desde cero. </p>
                <p class=" pb-6 pt-10">Cómo mejorar las ventas de tus NFT. </p>
                <p class=" pb-6 pt-10">Cómo convertir el dinero que ganas por la venta del NFT a dólares o moneda local.</p>
            </div>
        </div>
    </div> -->
