.fondo {
    background-image: url("../../../assets/img/background-3883181_1920.jpg");
    background-size: cover;
    position: relative;
    top: -3.7rem;
    height: 75vh;  
}

.pequeño {
    position: relative;
    top: 2rem;
    height: 15rem;
}