<div class="container-fluid mt-16 fondo">
    <app-nav></app-nav>
    <h1 class="mt-16 ml-9">
        {{"commerce.title" | translate}}    
    </h1>
    <div class="row">
        <div class="col-md-4 mt-16">
            <article>
                <p class="align"> 
                    {{"commerce.paragraph.0" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-16">
            <article>
                <p> 
                    {{"commerce.paragraph.1" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4">
            <article>
                <img src="../../../assets/img/ecom.png" class="img1 pequeño mt-9 ml-5" alt="e-commerce">    
            </article>
        </div>   
    </div>
</div>    
<app-footer></app-footer>