<nav class="navbar navbar-expand-xl navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/img/circulo-01.svg" alt="" width="50" height="24" class="d-inline-block align-text-top">
      Ketanolab
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-ketanolab">
        <a class="nav-link btn-ketanolab" href="/inicio">{{"nav.servicios" | translate}}</a>
        <a class="nav-link btn-ketanolab" href="/nosotros">{{"nav.nosotros" | translate}}</a>
        <a class="nav-link btn-ketanolab" href="/experiencia">{{"nav.experiencia" | translate}}</a>
        <a class="nav-link btn-ketanolab" href="#">{{"nav.oficina" | translate}}</a>
        <span class="nav-link nav-idiomas">
          <a class="btn-idioma" [ngClass]="{'selected':false}" href="#" (click)="setEn(); switchIdiomaEN = true;">EN</a>
          <span> | </span>
          <a class="btn-idioma" href="#" (click)="setEs()">ES</a>
        </span>
      </div>
    </div>
  </div>
</nav>