
#menu li {
    position: relative;
    left: 16rem;
    margin-left: 2rem;
    font-size: large;
}
/* Efecto al pasar el mouse */
#menu li :hover {
    background-color: rgb(0,0,0);
    color: skyblue;
}

.navbar-brand {
    width: 6rem;
    position: relative;
    left: 4rem;
    
}

a {
    font-family: 'Orbitron';
    color: #fff;
}