.bg-ketanolab {
    background-image: url("../../../assets/img/Inicio/middlebara.png");
    background-repeat: no-repeat;
    background-position-y: 6.2rem;
    background-position-x: 16rem;
    background-size: 66.69rem 0.76rem;
}

.bg-ketanolab::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/Inicio/beforebara.png");
    background-repeat: no-repeat;
    background-position-x: -20rem;
    padding-top: 5rem;
    padding-left: 16.3rem;
    margin-top: -4.7rem;
    margin-left: 0rem;
}

.bg-ketanolab::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/Inicio/afterbara.png");
    background-repeat: no-repeat;
    background-position-x: 0rem;
    padding-top: 5rem;
    padding-left: 16.3rem;
    margin-top: -4.7rem;
    margin-left: -17rem;
}


.navbar-brand {
    width: 6.5rem;
    margin-top: 2rem;
}

.navbar-nav {
    margin-left: -8.5rem;
    margin-top: -2rem;    
}

a {
    font-family: 'Orbitron';
    color: #fff;    
    font-size: 18px;
}

/* Construcción de los botones del nav con pseudo elementos before y after */

/* 1.- Construcción del botón servicios. */

/* Aquí en #servicios, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#servicios {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: 4rem;
    background-size: 7rem 3.1rem;
}

#servicios::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#servicios::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 7rem;
}

#a_servicios {
    position: relative;
    top: 5.1rem;
    left: -16.5rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 2.- Construcción del botón nosotros. */


/* Aquí en #nosotros, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#nosotros {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -10rem;
    background-size: 7rem 3.1rem;
}

#nosotros::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;

}

#nosotros::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 7rem;

}

#a_nosotros {
    position: relative;
    top: 5.1rem;
    left: -16.5rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 3.- Construcción del botón nuestra experiencia. */


/* Aquí en #experiencia, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#experiencia {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -10rem;
    background-size: 14rem 3.1rem;
}

#experiencia::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#experiencia::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 14rem;
}

#a_experiencia {
    position: relative;
    top: 5.1rem;
    left: -23.5rem;
    min-width: 15rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 4.- Construcción del botón Oficina Virtual. */


/* Aquí en #oficina, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#oficina {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -19rem;
    background-size: 9.5rem 3.1rem;
}

#oficina::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#oficina::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 9.5rem;
}

#a_oficina {
    position: relative;
    top: 5.1rem;
    left: -19rem;
    min-width: 10rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */

/* Estilos de los enlaces de Inglés y Español */

/* Inglés */
#a_EN {
    position: relative;
    top: 5rem;
    left: -17.5rem;
    max-height: 2rem;
}

#a_EN:hover{
    color: #00AEC6;
}

/* Español */
#a_ES {
    position: relative;
    top: 5rem;
    left: -16.5rem;
    max-height: 2rem;
}

#a_ES:hover{
    color: #00AEC6;
}

/* Media Queries para hacer responsive la página */

@media (max-width:2000px){
    .bg-ketanolab {
        background-size: 92rem 0.76rem;
    }
    
    .navbar-nav {
    margin-left: -13rem;
    }
   
    #servicios {
        margin-left: 4rem;
    }

    #nosotros {
    margin-left: -8rem;
    }

    #experiencia {
        margin-left: -7rem;
    }

    #oficina {
        margin-left: -16rem;
    }

    #a_EN {
        left: -13.5rem;
        }


    #a_ES {
        left: -10.5rem;
    }
}   

@media (max-width:1980px){
    .bg-ketanolab {
        background-size: 90rem 0.76rem;
    }

}

@media (max-width:1946px){
    .bg-ketanolab {
        background-size: 89rem 0.76rem;
    }

    #servicios {
        margin-left: 5rem;
    }

    #a_EN {
        left: -14.5rem;
        }


    #a_ES {
        left: -11.5rem;
    }
}


@media (max-width:1929px){
    .bg-ketanolab {
        background-size: 87rem 0.76rem;
    }

    #servicios {
        margin-left: 6rem;
    }
}


@media (max-width:1896px){
    .navbar-brand{
        margin-left: 1rem;
    }

    .bg-ketanolab {
        background-size: 85rem 0.76rem;
    }

    #servicios {
        margin-left: 7rem;
    }
}


@media (max-width:1865px){
    .navbar-brand{
        margin-left: 2rem;
    }
    .bg-ketanolab {
        background-size: 83rem 0.76rem;
    }

    #servicios {
        margin-left: 7rem;
    }

    #a_EN {
        left: -15.5rem;
        }


    #a_ES {
        left: -12.5rem;
    }
}


@media (max-width:1834px){
    .navbar-brand{
        margin-left: 3rem;
    }

    .bg-ketanolab {
        background-size: 81rem 0.76rem;
    }

    #servicios {
        margin-left: 6rem;
    }
}


@media (max-width:1805px){

    .navbar-brand{
        margin-left: 4rem;
    }


    .bg-ketanolab {
        background-size: 79.3rem 0.76rem;
    }

    #servicios {
        margin-left: 6rem;
    }


    #nosotros {
        margin-left: -9rem;
    }
    
        #experiencia {
            margin-left: -8.5rem;
    }
    
        #oficina {
            margin-left: -18rem;
    }
}


@media (max-width:1775px){
    .bg-ketanolab {
        background-size: 77.3rem 0.76rem;
    }
}


@media (max-width:1743px){
    .bg-ketanolab {
        background-size: 75.3rem 0.76rem;
    }

    #a_EN {
        left: -16.5rem;
        }

    #a_ES {
        left: -13.5rem;
    }
}


@media (max-width:1720px){
    .bg-ketanolab {
        background-size: 75.3rem 0.76rem;
    }

    #a_EN {
        left: -17.5rem;
        }

    #a_ES {
        left: -14.5rem;
    }
}


@media (max-width:1710px){
    .bg-ketanolab {
        background-size: 73.3rem 0.76rem;
    }


    #servicios {
        margin-left: 4.5rem;
    }


    #nosotros {
        margin-left: -9.5rem;
    }
    
        #experiencia {
            margin-left: -9rem;
    }
    
        #oficina {
            margin-left: -18.5rem;
    }

    #a_EN {
        left: -17.5rem;
        }

    #a_ES {
        left: -14.5rem;
    }
}


@media (max-width:1677px){
    .bg-ketanolab {
        background-size: 71.3rem 0.76rem;
    }

}


@media (max-width:1655px){
    .bg-ketanolab {
        background-size: 70rem 0.76rem;
    }


    #nosotros {
        margin-left: -10rem;
    }
    
    #experiencia {
            margin-left: -9.5rem;
    }
    
    #oficina {
            margin-left: -19rem;
    }

    #a_EN {
        left: -17.5rem;
        }

    #a_ES {
        left: -15.5rem;
    }
}


@media (max-width:1625px){
    .bg-ketanolab {
        background-size: 68rem 0.76rem;
    }


    #a_EN {
        left: -17.5rem;
        }

    #a_ES {
        left: -16rem;
    }
}


@media (max-width:1535px){
    
    .bg-ketanolab {
        background-position-x: 11rem;    
        background-size: 72rem 0.76rem;
    
    }
    
    .navbar-nav {
        margin-left: -14rem;
    }

    .bg-ketanolab::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/Inicio/beforebara.png");
    background-repeat: no-repeat;
    background-position-x: -25rem;
    padding-top: 5rem;
    padding-left: 11rem;
    margin-top: -4.7rem;
    margin-left: 0rem;
    }

 
    .bg-ketanolab::after {
        content: "";
        display: block;
        background-image: url("../../../assets/img/Inicio/afterbara.png");
        background-repeat: no-repeat;
        background-position-x: 0rem;
        padding-top: 5rem;
        padding-left: 11.5rem;
        margin-top: -4.7rem;
        margin-left: -13rem;
    }       
}


@media (max-width:1498px){
    
    .bg-ketanolab {    
        background-size: 70rem 0.76rem;
    
    }

    .navbar-nav {
        margin-left: -13rem;
    }
}


@media (max-width:1466px){
    
    .bg-ketanolab {    
        background-size: 68rem 0.76rem;
    
    }
}

@media (max-width:1399px){
    
    .bg-ketanolab {    
        background-image: none;    
    }
    
    .bg-ketanolab::before {
        content: "";
        display: none;
    }
    
     
    .bg-ketanolab::after {
        content: "";
        display: none;
    }
    
    #servicios {
        margin-left: calc(60%);
    }

    #a_servicios {
        margin-left: calc(78.5%);
    }

    #nosotros {
        margin-left: calc(60%);
    }

    #a_nosotros {
        margin-left: calc(78.5%);
    }
    
    #experiencia {
        margin-left: calc(60%);
    }

    #a_experiencia {
        margin-left: calc(78.5%);
    }
    
    #oficina {
        margin-left: calc(60%);
    }

    #a_oficina {
        margin-left: calc(78.5%);
    }

    #a_EN {
        left: calc(60%);
        }

    #a_ES {
        left: calc(60%);
    }
    
}
