.bg-ketanolab {
    background-image: url("../../../assets/img/Inicio/bara.svg");
    background-repeat: no-repeat;
    background-position-y: 1.5rem;
    background-position-x: -25.8rem;
    background-size: 144rem;
}

.navbar-brand {
    width: 8rem;
    line-height: 1;
    margin-right: 3.5rem;
}

.navbar-nav {
    margin-left: 4rem;
    max-height: 9rem;
    margin-top: -1.3rem;
}

a {
    font-family: 'Orbitron';
    color: #fff;    
}

/* Construcción de los botones del nav con pseudo elementos before y after */

/* 1.- Construcción del botón servicios. */

/* Aquí en #servicios, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#servicios {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: 4rem;
    background-size: 7rem 3.1rem;
}

#servicios::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#servicios::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 7rem;
}

#a_servicios {
    position: relative;
    top: 5rem;
    left: -16.5rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 2.- Construcción del botón nosotros. */


/* Aquí en #nosotros, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#nosotros {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -10rem;
    background-size: 7rem 3.1rem;
}

#nosotros::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;

}

#nosotros::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 7rem;

}

#a_nosotros {
    position: relative;
    top: 5rem;
    left: -16.5rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 3.- Construcción del botón nuestra experiencia. */


/* Aquí en #experiencia, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#experiencia {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -10rem;
    background-size: 14rem 3.1rem;
}

#experiencia::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#experiencia::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 14rem;
}

#a_experiencia {
    position: relative;
    top: 5rem;
    left: -24rem;
    min-width: 15rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */


/* 4.- Construcción del botón Oficina Virtual. */


/* Aquí en #oficina, modificando el atributo margin se puede manipular fácilmente la ubicación de todo el botón */
#oficina {
    background-image: url("../../../assets/img/img/middle.png");
    background-repeat: no-repeat;
    margin-top: 4.5rem;
    margin-left: -18.5rem;
    background-size: 9.5rem 3.1rem;
}

#oficina::before {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/before.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: 0rem;
    margin-left: -4.06rem;
}

#oficina::after {
    content: "";
    display: block;
    background-image: url("../../../assets/img/img/after.png");
    background-repeat: no-repeat;
    padding: 5rem;
    margin-top: -10rem;
    margin-left: 9.5rem;
}

#a_oficina {
    position: relative;
    top: 5rem;
    left: -19.6rem;
    min-width: 10rem;
    max-height: 2rem;
}

/* Fin Construcción de botón */

/* Estilos de los enlaces de Inglés y Español */

/* Inglés */
#a_EN {
    position: relative;
    top: 5rem;
    left: -18rem;
    max-height: 2rem;
}

#a_EN:hover{
    color: #00AEC6;
}

/* Español */
#a_ES {
    position: relative;
    top: 5rem;
    left: -17rem;
    max-height: 2rem;
}

#a_ES:hover{
    color: #00AEC6;
    
}