<nav class="navbar navbar-expand-lg navbar-dark bg-ketanolab">
  <div class="container">
      <a class="navbar-brand d-lg-none" href="#">
        <img class="brand-mobile" src="../../assets/img/img/circulo-01.svg" alt="Ketanolab">
      </a>
    <button id="align-hamburguesa" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav"><!--mx-auto-->
          <a class="navbar-brand d-none d-lg-block" href="#">
              <img src="../../assets/img/img/circulo-01.svg" alt="Ketanolab">
          </a>

          <!-- Construcción con before y after de los botones del navbar -->

          <!-- Servicios -->
            
            <div id="servicios">    
            </div>
            <a href="/inicio" id="a_servicios">
              {{"nav.title-1" | translate}}
            </a>
            
          <!-- Nosotros -->
            
          <div id="nosotros">    
          </div>
          <a href="/nosotros" id="a_nosotros">
            {{"nav.title-2" | translate}}
          </a>
         
          <!-- Nuestra Experiencia -->
            
          <div id="experiencia">    
          </div>
          <a href="/experiencia" id="a_experiencia">
            {{"nav.title-3" | translate}}
          </a>
        
          <!-- Oficina Virtual -->
            
          <div id="oficina">    
          </div>
          <a href="https://gather.town/app/zmougmiMJ2HHVYbZ/ketanolab" id="a_oficina" target="_blank">
            {{"nav.title-4" | translate}}
          </a>
        
        <!-- Enlaces de Español e Inglés. -->

        <!-- Inglés -->
        <a href="#" id="a_EN">
          EN
        </a>

        <!-- Español -->
        <a href="#" id="a_ES">
          ES
        </a>

      </div>
    </div>
  </div>
</nav>
