<div class="container-fluid mt-16 mb-16 fondo">
    <app-nav></app-nav>
    <h1 class="ml-14 mt-16">
        {{"services.title" | translate}}
    </h1>
    <div class="row">
        <div class="col-md-6 mt-16">
            <article class="ml-16">
                <p>
                    {{"services.paragraph" | translate}}
                </p>
            </article>
        </div>
        <div class="col-md-6">
            <article class="ml-16">
                <img src="../../../assets/img/mark.jpg" class="img1 ml-10" alt="Servicios Web">
            </article>
        </div>
    </div>
</div>
<app-footer></app-footer>
