<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="centrar">
                    {{"SERVICES.TITLE" | translate}}
                </h1>
                <hr>
                <p>
                    {{"SERVICES.PARAGRAPH" | translate}}
                </p>
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="centrar">
                    {{"SERVICES.TITLE" | translate}}
                </h1>
                <hr>
                <p>
                    {{"SERVICES.PARAGRAPH" | translate}}
                </p>
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="centrar">
                    {{"SERVICES.TITLE" | translate}}
                </h1>
                <hr>
                <p>
                    {{"SERVICES.PARAGRAPH" | translate}}
                </p>
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="centrar">
                    {{"SERVICES.TITLE" | translate}}
                </h1>
                <hr>
                <img src="../../../assets/img/mark.jpg" class="img1 pequeño" alt="Servicios Web">
            </article>
        </div>
    </div>
</div>
<app-footer></app-footer>
