.fondo {
    background-image: url("../../../assets/img/background-3883181_1920.jpg");
    background-size: cover;
    position: relative;
    top: -3.7rem;
}

.salto_de_pagina {
    max-width: 50rem;
}