<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DEVELOPERS.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"DEVELOPERS.PARAGRAPH" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DEVELOPERS.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta 
                    consequatur cumque corporis nesciunt dignissimos excepturi quae modi itaque 
                    assumenda possimus ratione accusamus, maxime vitae similique reiciendis sapiente non ad.
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DEVELOPERS.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus soluta 
                    consequatur cumque corporis nesciunt dignissimos excepturi quae modi itaque 
                    assumenda possimus ratione accusamus, maxime vitae similique reiciendis sapiente non ad.
                </p>
                   
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"DEVELOPERS.TITLE" | translate}}    
                </h1>
                <hr>
                <img src="../../../assets/img/nueva_zelanda.jpeg" class="img1 pequeño" alt="Nueva_Zelanda">    
            </article>
        </div>   
    </div>
</div>














<!-- 
                
            </div>
            <div class="col col-md-3 ml-2 servicios-box">
                <img src="../../../assets/img/marcoInter.png" class="img2" alt="">
                <p class=" pb-6 pt-6 h5 small"> {{"DEVELOPERS.PARAGRAPH" | translate}}</p>
            </div>
        </div> -->