<div class="container-fluid mt-16 mb-16 fondo">
  <app-nav></app-nav>
  <h1 class="ml-9 mt-16">
    {{"digital-projects.title" | translate}}
  </h1>
  <div class="row">
    <div class="col-md-4 mt-16">
      <article> 
        <p class="align">
          {{"digital-projects.paragraph.0" | translate}}
        </p>
      </article>
    </div>
    <div class="col-md-4 mt-16">
      <article>
        <p>
          {{"digital-projects.paragraph.1" | translate}}
        </p>
      </article>
    </div>
    <div class="col-md-4 mt-16 mb-16">
      <article>
        <img src="../../../assets/img/proyecDigi.svg" class="img1 pequeño" alt="Proyectos Digitales">
      </article>
    </div>
  </div>
</div>
<app-footer></app-footer>