@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500&family=Oxygen&family=Poppins:wght@700&display=swap');
@import '~font-awesome/css/font-awesome.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.h1, h1 {
    font-size: 3rem;
    font-family: 'Orbitron';
}

.h2, h2 {
    font-size: 2.5rem;
    font-family: 'Orbitron';
}

body {
    background-color: #00172a;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor:url(/assets/img/cursor.png), auto;
}

.servicios-box{
    background-color: #05253f;
    text-align: justify;
    margin: 4rem;
    outline: 6px double rgb(48, 74, 124);
    outline-offset: 10px;
    padding: 1rem;
}

.img1{
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 1px solid #004483ff;
    background-image: linear-gradient(#007df1ff, #007df1ff),
    linear-gradient(#007df1ff, #007df1ff),
    linear-gradient(#007df1ff, #007df1ff),
    linear-gradient(#007df1ff, #007df1ff);
    background-repeat: no-repeat;
    background-size: 10px 37%, 15% 10px, 10px 38%, 15% 10px, calc(100% - 1px) calc(100% - 1px);
    background-position: left bottom, left bottom, right top, right top, 1px 1px;
    padding: 2px;
    outline: 2px solid #004483ff;
    outline-offset: -5px;
}

.img2{
    position:absolute;
    width: 510px;
    height: 259px;
    margin-top: 4px;
    margin-left: -5px;
}

@media only screen and (max-width: 700px) {
.img2 {
    width: 545px;
    height: 250px;
}
}

.pequeño {
    width: 400px;
}

.pequeño {
    width: 600px;
}
.centrar {
    position: relative;
    top:4rem;
    left: 16rem;
}

.justificado {
  text-align: justify
}
/* Botón Formulario */
.button-form {
    align-items: center;
    background-image: linear-gradient(144deg,#021e5a, #4ee6f1 50%,#012863);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: orbitron;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 14rem;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 22rem;
    margin-top: -2.5rem;
  }

  .button-form:active,
  .button-form:hover {
    outline: 0;
  }

  .button-form span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }

  .button-form:hover span {
    background: none;
  }

  @media (min-width: 768px) {
    .button-form {
      font-size: 24px;
      min-width: 196px;
    }
  }

/* Estilos que afectan al formulario de Contáctanos */

.formulario {
    background-image: linear-gradient(144deg,#06389b, #05041f 50%,#08857e);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.centrar_boton {
    margin-left:  -40rem;
}

.ofrecemos {
    font-size: 1.75rem
  }
