<div class="container-fluid mt-16 mb-16 fondo">
    <app-nav></app-nav>
    <h1 class="ml-16 mt-16">
        {{"MARKETING.TITLE" | translate}}    
    </h1>
    <div class="row">
        <div class="col-md-4 mt-16">
            <article>
                <p class="align"> 
                    {{"MARKETING.PARAGRAPH" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-4 mt-16">
            <article>
                <ul class="align">
                    <li>
                        {{"MARKETING.LIST" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-1" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-2" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-3" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-4" | translate}}
                    </li>
                </ul>
                   
            </article>
        </div>
        <div class="col-md-4">
            <article>
                <img src="../../../assets/img/markExp.svg" class="img1 pequeño" alt="marketing exponencial">    
            </article>
        </div>   
    </div>
</div>
<app-footer></app-footer>