<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="color1">
    <app-nav></app-nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto posicion">
                <div class="figura">
                    <p class="pt-6">{{"MARKETING.TITLE" | translate}}</p>
                </div>
              <img src="../../../assets/img/mark.jpg" class="img1" alt="">
            </div>
            <div class="col col-md-3 ml-1 color">
                <p class="  pt-4 h6">{{"MARKETING.PARAGRAPH" | translate}}</p>
                <p class=" pb-4 pt-6 h6">{{"MARKETING.PARAGRAPH-1" | translate}}</p>
                <ul class=" pb-4 h6">
                    <li>{{"MARKETING.LIST" | translate}}</li>
                    <li>{{"MARKETING.LIST-1" | translate}}</li>
                    <li>{{"MARKETING.LIST-2" | translate}}</li>
                    <li>{{"MARKETING.LIST-3" | translate}}</li>
                    <li>{{"MARKETING.LIST-4" | translate}}</li>
                </ul>
            </div>
          </div>
    </div>
</body>
</html>


