<app-nav></app-nav>
<div class="container">
    <div class="row">
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"MARKETING.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"MARKETING.PARAGRAPH" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"MARKETING.TITLE" | translate}}    
                </h1>
                <hr>
                <p> 
                    {{"MARKETING.PARAGRAPH-1" | translate}}
                </p>    
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"MARKETING.TITLE" | translate}}    
                </h1>
                <hr>
                <ul class="mt-8 ml-12">
                    <li>
                        {{"MARKETING.LIST" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-1" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-2" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-3" | translate}}
                    </li>
                    <li>
                        {{"MARKETING.LIST-4" | translate}}
                    </li>
                </ul>
                   
            </article>
        </div>
        <div class="col-md-3 mt-16">
            <article>
                <h1 class="ml-9">
                    {{"MARKETING.TITLE" | translate}}    
                </h1>
                <hr>
                <img src="../../../assets/img/markExp.svg" class="img1 pequeño" alt="marketing exponencial">    
            </article>
        </div>   
    </div>
</div>
  <!-- <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="figura">
                    <p class="pt-6">{{"MARKETING.TITLE" | translate}}</p>
                </div>
                <img src="../../../assets/img/markExp.svg" class="img1" alt="">
            </div>
            <div class="col col-md-3 ml-2 servicios-box">
                <img src="../../../assets/img/marcoInter.png" class="img2" alt="">
                <p class="  pt-4">{{"MARKETING.PARAGRAPH" | translate}}</p>
                <p class=" pb-4 pt-6">{{"MARKETING.PARAGRAPH-1" | translate}}</p>
                <ul class=" pb-4">
                    <li>{{"MARKETING.LIST" | translate}}</li>
                    <li>{{"MARKETING.LIST-1" | translate}}</li>
                    <li>{{"MARKETING.LIST-2" | translate}}</li>
                    <li>{{"MARKETING.LIST-3" | translate}}</li>
                    <li>{{"MARKETING.LIST-4" | translate}}</li>
                </ul>
            </div>
        </div> -->